## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2009
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%!
   from r2.lib.strings import strings
   from r2.lib.pages import UserText
   from r2.lib.template_helpers import add_sr
%>

<%namespace file="utils.html" import="error_field, submit_form, plain_link, text_with_links"/>
<%namespace name="utils" file="utils.html"/>

<h1>${_("submit to reddit")}</h1>

<%utils:submit_form onsubmit="return post_form(this, 'submit', linkstatus, null, true)" 
                    action=${add_sr("/submit")},
                    _class="submit content",
                    _id="newlink">

${thing.formtabs_menu}
<div class="formtabs-content">

<div class="spacer">
    <div id="link-desc" class="infobar">${strings.submit_link}</div>
    <div id="text-desc" class="infobar">${strings.submit_text}</div>
</div>

<div class="spacer">
  <script src="/static/ui.core.js"  type="text/javascript"></script>
  <script src="/static/ui.datepicker.js"  type="text/javascript"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $("#eventdate").datepicker();
  });
  </script>  
  <%utils:round_field title="${_('event time (optional)')}" id="eventtime-field" style="width:230px;  float:right;">
    <select id="eventtime" name="eventtime">
    <option selected="selected">(none)</option>
    <option value="0000">12:00 am</option>
    <option value="0015">12:15 am</option>
    <option value="0030">12:30 am</option>
    <option value="0045">12:45 am</option>
    <option value="0100">1:00 am</option>
    <option value="0115">1:15 am</option>
    <option value="0130">1:30 am</option>
    <option value="0145">1:45 am</option>
    <option value="0200">2:00 am</option>
    <option value="0215">2:15 am</option>
    <option value="0230">2:30 am</option>
    <option value="0245">2:45 am</option>
    <option value="0300">3:00 am</option>
    <option value="0315">3:15 am</option>
    <option value="0330">3:30 am</option>
    <option value="0345">3:45 am</option>
    <option value="0400">4:00 am</option>
    <option value="0415">4:15 am</option>
    <option value="0430">4:30 am</option>
    <option value="0445">4:45 am</option>
    <option value="0500">5:00 am</option>
    <option value="0515">5:15 am</option>
    <option value="0530">5:30 am</option>
    <option value="0545">5:45 am</option>
    <option value="0600">6:00 am</option>
    <option value="0615">6:15 am</option>
    <option value="0630">6:30 am</option>
    <option value="0645">6:45 am</option>
    <option value="0700">7:00 am</option>
    <option value="0715">7:15 am</option>
    <option value="0730">7:30 am</option>
    <option value="0745">7:45 am</option>
    <option value="0800">8:00 am</option>
    <option value="0815">8:15 am</option>
    <option value="0830">8:30 am</option>
    <option value="0845">8:45 am</option>
    <option value="0900">9:00 am</option>
    <option value="0915">9:15 am</option>
    <option value="0930">9:30 am</option>
    <option value="0945">9:45 am</option>
    <option value="1000">10:00 am</option>
    <option value="1015">10:15 am</option>
    <option value="1030">10:30 am</option>
    <option value="1045">10:45 am</option>
    <option value="1100">11:00 am</option>
    <option value="1115">11:15 am</option>
    <option value="1130">11:30 am</option>
    <option value="1145">11:45 am</option>
    <option value="1200">12:00 pm</option>
    <option value="1215">12:15 pm</option>
    <option value="1230">12:30 pm</option>
    <option value="1245">12:45 pm</option>
    <option value="1300">1:00 pm</option>
    <option value="1315">1:15 pm</option>
    <option value="1330">1:30 pm</option>
    <option value="1345">1:45 pm</option>
    <option value="1400">2:00 pm</option>
    <option value="1415">2:15 pm</option>
    <option value="1430">2:30 pm</option>
    <option value="1445">2:45 pm</option>
    <option value="1500">3:00 pm</option>
    <option value="1515">3:15 pm</option>
    <option value="1530">3:30 pm</option>
    <option value="1545">3:45 pm</option>
    <option value="1600">4:00 pm</option>
    <option value="1615">4:15 pm</option>
    <option value="1630">4:30 pm</option>
    <option value="1645">4:45 pm</option>
    <option value="1700">5:00 pm</option>
    <option value="1715">5:15 pm</option>
    <option value="1730">5:30 pm</option>
    <option value="1745">5:45 pm</option>
    <option value="1800">6:00 pm</option>
    <option value="1815">6:15 pm</option>
    <option value="1830">6:30 pm</option>
    <option value="1845">6:45 pm</option>
    <option value="1900">7:00 pm</option>
    <option value="1915">7:15 pm</option>
    <option value="1930">7:30 pm</option>
    <option value="1945">7:45 pm</option>
    <option value="2000">8:00 pm</option>
    <option value="2015">8:15 pm</option>
    <option value="2030">8:30 pm</option>
    <option value="2045">8:45 pm</option>
    <option value="2100">9:00 pm</option>
    <option value="2115">9:15 pm</option>
    <option value="2130">9:30 pm</option>
    <option value="2145">9:45 pm</option>
    <option value="2200">10:00 pm</option>
    <option value="2215">10:15 pm</option>
    <option value="2230">10:30 pm</option>
    <option value="2245">10:45 pm</option>
    <option value="2300">11:00 pm</option>
    <option value="2315">11:15 pm</option>
    <option value="2330">11:30 pm</option>
    <option value="2345">11:45 pm</option>
    </select>
    ${error_field("NO_TIME",  "eventtime", "div")}
    ${error_field("BAD_TIME", "eventtime", "div")}
  </%utils:round_field>
  <%utils:round_field title="${_('event date')}" id="eventdate-field" style="width:230px;">
    <input type="text" id="eventdate" name="eventdate" value="${thing.eventdate}" style="width:10em;" />
    ${error_field("NO_DATE",  "eventdate", "div")}
    ${error_field("BAD_DATE", "eventdate", "div")}
  </%utils:round_field>
</div>

<div class="spacer">
  <%utils:round_field title="${_('title')}" id="title-field">
    <textarea name="title" rows="2" cols="1" wrap="hard">${thing.title}</textarea>
    ${error_field("NO_TEXT", "title", "div")}
    ${error_field("TOO_LONG", "title", "div")}
  </%utils:round_field>
</div>

<div class="spacer">
  <%utils:round_field title="${_('url')}" id="url-field">
    <input name="kind" value="link" type="hidden"/>
    <input id="url" name="url" type="text" value="${thing.url}"/>
    ${error_field("NO_URL", "url", "div")}
    ${error_field("BAD_URL", "url", "div")}
    ${error_field("ALREADY_SUB", "url", "div")}
    <div>
      <button type="button" tabindex="100" onclick="fetch_title()">${_("suggest title")}</button>
      <span class="title-status"></span>
    </div>
  </%utils:round_field>
</div>

<div class="spacer">
  <%utils:round_field title="${_('text')}", description="${_('(optional)')}" id="text-field">
    <input name="kind" value="self" type="hidden"/>
    ${UserText(None, have_form = False, creating = True)}
  </%utils:round_field>
</div>

<div class="spacer">
  <%utils:round_field title="${_('reddit')}" id="reddit-field">
    <div id="sr-autocomplete-area">
      <input id="sr-autocomplete" name="sr" type="text"
             autocomplete="off"
             onkeyup="sr_name_up(event)"
             onkeydown="return sr_name_down(event)"
             onblur="hide_sr_name_list()"
             value = "${thing.default_sr}" />
      <ul id="sr-drop-down">
        <li class="sr-name-row"
            onmouseover="highlight_reddit(this)"
            onmousedown="return sr_dropdown_mdown(this)"
            onmouseup="sr_dropdown_mup(this)">nothin</li>
      </ul>
    </div>
    <script type="text/javascript">
      reddit.sr_cache = ${unsafe(thing.sr_searches)};
    </script>
    ${error_field("SUBREDDIT_NOEXIST", "sr", "div")}
    ${error_field("SUBREDDIT_NOTALLOWED", "sr", "div")}
    ${error_field("SUBREDDIT_REQUIRED", "sr", "div")}
    
    <div id="suggested-reddits">
        <span class="">${_("popular choices")}&#32;</span>
      <ul>
        %for name in thing.subreddits:
        <li>
          <a href="#" tabindex="100" onclick="set_sr_name(this); return false">${name}</a>&#32;
        </li>
        %endfor
      </ul>
    </div>
  </%utils:round_field>
</div>

${thing.captcha}
    
</div>

<div class="spacer">
  <button class="btn" name="submit" value="form" type="submit">${_("submit")}</button>
  <span class="status"></span>
  ${error_field("RATELIMIT", "ratelimit")}
</div>
</%utils:submit_form>

<script type="text/javascript">
  var form = $("#newlink");
  if(form.length) {
    var default_menu = form.find(".${thing.default_tab}:first");
    select_form_tab(default_menu, "${thing.default_show}", "${thing.default_hide}");
    }
</script>
